<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource_id %><br />
    <%= f.number_field :resource_id %>
  </div>
  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :exchange_event_id %><br />
    <%= f.text_field :exchange_event_id %>
  </div>
  <div class="field">
    <%= f.label :cache_start_time %><br />
    <%= f.datetime_select :cache_start_time %>
  </div>
  <div class="field">
    <%= f.label :cache_end_time %><br />
    <%= f.datetime_select :cache_end_time %>
  </div>
  <div class="field">
    <%= f.label :recurrence_id %><br />
    <%= f.number_field :recurrence_id %>
  </div>
  <div class="field">
    <%= f.label :questionnaire_response_id %><br />
    <%= f.number_field :questionnaire_response_id %>
  </div>
  <div class="field">
    <%= f.label :package_id %><br />
    <%= f.number_field :package_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>