<%= form_for(@reservation, :remote=>true) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "#{@reservation.current_step}", :f => f %>
  <p><%= f.submit "Continue" unless @reservation.first_step? %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @reservation.first_step? %></p>

<% end %>
