<h1>Agenda</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>Resource</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr id="<%= 'reservation_' + reservation.id.to_s %>">
    <td><%= reservation.title %></td>
    <td><%= reservation.cache_start_time.strftime("%m/%d/%Y") %></td>
    <td><%= link_to 'Cancel', reservation, method: :delete, remote: true %></td>
  </tr>
<% end %>
</table>
<h1>What would you like to reserve?</h1>

	<div class="btn-group">
		<button class="btn wizard-resource">
			<%= link_to image_tag( 'http://goo.gl/dFuVQ', :class => "wizard-image"), "#tab2", :data => {:toggle => "tab"} %>
		</button>
		<button class="btn wizard-resource">
			<%= link_to image_tag( 'http://goo.gl/zeq1X', :class => "wizard-image"), "#tab3", :data => {:toggle => "tab"} %>
		</button>
		<button class="btn wizard-resource">
			<%= link_to image_tag( 'http://goo.gl/wj59n', :class => "wizard-image"), "#tab4", :data => {:toggle => "tab"} %>
		</button>
	</div>
	<div class="btn-group">
		<button class="btn wizard-resource">
			<%= link_to image_tag( 'http://goo.gl/e319z', :class => "wizard-image"), "#tab2", :data => {:toggle => "tab"} %>
		</button>
		<button class="btn wizard-resource">
			<%= link_to image_tag( 'http://goo.gl/RwzKa', :class => "wizard-image"), "#tab3", :data => {:toggle => "tab"} %>
		</button>
		<button class="btn wizard-resource">
			<%= link_to image_tag( 'http://goo.gl/3VsWX', :class => "wizard-image"), "#tab4", :data => {:toggle => "tab"} %>
		</button>
	</div>
