<p>
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
</p>

<%= form_for(@reservation, :remote=>true, :url => reservations_wizard_path) do |f| %>
	<%= f.fields_for :resource do |r|%>
		<%= r.fields_for :questions do |q|%>
		<fieldset>
			<div class="control-group">
				<%= q.label :question, q.object.question %>
		     	<div class="controls">
					<%= q.fields_for :question_responses do |qr|%>
						<%= qr.text_field :value, class: 'input-xlarge' %><br />
					<% end %>
		     	</div>
		   </div>
		</fieldset>
		<% end %>
	<% end %>
  <p><%= f.submit "Continue", :name => "next_button" unless @reservation.first_step? %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @reservation.first_step? %></p>
<% end %>