<h1>Agenda</h1>

<table class="table table-striped table-condensed wizard">
  <tr>
    <th>Resource</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr id="<%= 'reservation_' + reservation.id.to_s %>">
    <td><%= reservation.title %></td>
    <td><%= reservation.cache_start_time.strftime("%m/%d/%Y") %></td>
    <td><%= link_to 'Cancel', reservation, method: :delete, remote: true %></td>
  </tr>
<% end %>
</table>
<h1>What would you like to reserve?</h1>
<%= form_for(@reservation, :remote=>true, :url => reservations_wizard_path) do |f| %>
	<div class="btn-group wizard-btn-group">
		<% @resource_categories.each do |rc| %>
			<%= f.submit rc.id, :name => "resource[resource_category_id]", :class => "btn wizard-resource resource-" + rc.name %>
		<% end %>
	</div>
<% end %>