<p>
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	Instructions go here. Instructions go here. Instructions go here. Instructions go here.
</p>
<%= form_for(@reservation, :remote=>true, :url => reservations_wizard_path) do |f| %>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="input01">Department</label>
      <div class="controls">
        <%=	collection_select("resource", "ou_uid", @departments, :ou_uid, :description, { :prompt => 'Select Department', :selected => Resource.where('id == ' + session[:reservation_params]['resource_id']).pluck(:ou_uid).first } )	%>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Resource</label>
      <div class="controls">
		<select id="resource_id" name="reservation[resource_id]">
			<option value class="static">Select Resource</option>
	        <% @resources.each do |r|	%>
				<option value="<%= r.id %>"
					class="dep_<%= r.ou_uid %>"
					<% if session[:reservation_params]['resource_id'].to_i == r.id %>
						selected
					<% end %>
					>
					<%= r.name %>
				</option>
			<% end %>
		</select>
      </div>
    </div>
  </fieldset>
  <p><%= f.submit "Continue", :name => "next_button" unless @reservation.first_step? %></p>
  <p><%= f.submit "Back", :name => "back_button" unless @reservation.first_step? %></p>

<% end %>
