<h1>Listing reservations</h1>

<table>
  <tr>
    <th>Resource</th>
    <th>Person</th>
    <th>Exchange event</th>
    <th>Cache start time</th>
    <th>Cache end time</th>
    <th>Recurrence</th>
    <th>Questionnaire response</th>
    <th>Package</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.resource_id %></td>
    <td><%= reservation.person_id %></td>
    <td><%= reservation.exchange_event_id %></td>
    <td><%= reservation.cache_start_time %></td>
    <td><%= reservation.cache_end_time %></td>
    <td><%= reservation.recurrence_id %></td>
    <td><%= reservation.questionnaire_response_id %></td>
    <td><%= reservation.package_id %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
