<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>
      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Resource Fields</h3>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :resource_category_id %><br />
	<%=collection_select(:ResourceCategory, :name, @resourceCategories, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :exchange_calendar_id %><br />
    <%= f.text_field :exchange_calendar_id %>
  </div>
  <div class="field">
    <%= f.label :ou_uid %><br />
    <%= f.number_field :ou_uid %>
  </div>
    <div class="field">
    <%= f.label :instructions %><br />
    <%= f.text_field :instructions %>
  </div>
  <div class="field">
    <%= f.label :role_required %><br />
    <%= f.check_box :role_required %>
  </div>
  <div class="field">
    <%= f.label :allow_public %><br />
    <%= f.check_box :allow_public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
