<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>

<p>
  <b>Category:</b>
  <%= @resource.category_id %>
</p>

<p>
  <b>Description:</b>
  <%= @resource.description %>
</p>

<p>
  <b>Exchange calendar id:</b>
  <%= @resource.exchange_calendar_id %>
</p>

<p>
  <b>Ou uid:</b>
  <%= @resource.ou_uid %>
</p>

<p>
  <b>Created At:</b>
  <%= @resource.created_at %>
</p>
<p>
  <b>Updated At:</b>
  <%= @resource.updated_at %>
</p>
<p>
  <b>Instructions:</b>
  <%= @resource.instructions %>
</p>
<p>
  <b>Role Required:</b>
  <%= @resource.role_required %>
</p>
<p>
  <b>Allow Public:</b>
  <%= @resource.allow_public %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
<div id='calendar'></div>
